* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #fc6736;
  --dark-blue: #0c2d57;
  --blue: #39a7ff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

header {
  padding: 2rem 2.4rem;
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}
.heading {
  color: var(--blue);
  font-size: 2.4rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1ch;
}

header p {
  font-size: 1.2rem;
}

article {
  display: flex;
  /* background-color: red; */
  padding: 1.2rem 2.4rem;
  gap: 2.4rem;
}

.card {
  flex: 1;
  text-align: center;
  padding: 2.4rem 1.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
}

.card:nth-of-type(1) {
  border-top: 14px solid var(--orange);
}

.card:nth-of-type(2) {
  border-top: 14px solid var(--blue);
}
.card:nth-of-type(3) {
  border-top: 14px solid var(--dark-blue);
}

.card img {
  width: 4rem;
  margin-bottom: 1.2rem;
}

.card h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
}

.price {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

.btn {
  width: 80%;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 5px 7px;
  color: #fff;
  margin-bottom: 2rem;
}

.btn.btn--essentials {
  background-color: var(--orange);
}

.btn.btn--plus {
  background-color: var(--blue);
}

.btn.btn--enterprise {
  background-color: var(--dark-blue);
}

.card--enterprise p {
  margin-bottom: 5rem;
}

.price.price--enterprise {
  font-size: 1.4rem;
  margin-bottom: 6rem;
}
