* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #fc6736;
  --dark-blue: #0c2d57;
  --blue: #39a7ff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

header {
  padding: 2rem 2.4rem;
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}
.heading {
  color: var(--blue);
  font-size: 2.4rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1ch;
}

header p {
  font-size: 1.2rem;
}
